<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.5.388"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="P01100_Head">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="800"/>
  <Property Name="Index" Value="1100"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="480"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[CL_Header]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="CL_Header"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[CL_Footer]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="CL_Footer"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="800"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="480"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001007" Name="numCylinderPerimeter">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numCylinderPerimeter.nColor]"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numProductLen.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="80"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="9.99999"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numCylinderPerimeter.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="200"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numCylinderPerimeter.rValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtCylinderPerimeter">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="40"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numCylinderPerimeter.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndexOffset" Value="1012"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="180"/>
          <Property Name="Width" Value="160"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnHead0">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Heads]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapIndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Heads.Head[0].btnHead.nBmpIndex]"/>
          <Property Name="BitmapSimulationValue" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_52]"/>
          <Property Name="Height" Value="33"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="80"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Heads.Head[0].btnHead.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Header]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="584"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_HeadButton0]"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001007" Name="numHead0">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[F_HeadSmall]"/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="80"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Heads.Head[0].numHead.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Head]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="617"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Heads.Head[0].numHead.nValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnHead1">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Heads]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapIndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Heads.Head[1].btnHead.nBmpIndex]"/>
          <Property Name="BitmapSimulationValue" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_53]"/>
          <Property Name="Height" Value="33"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="172"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Heads.Head[1].btnHead.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Header]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="584"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_HeadButton1]"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001007" Name="numHead1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[F_HeadSmall]"/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="172"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Heads.Head[1].numHead.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Head]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="617"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Heads.Head[1].numHead.nValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnHead2">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Heads]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapIndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Heads.Head[2].btnHead.nBmpIndex]"/>
          <Property Name="BitmapSimulationValue" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_54]"/>
          <Property Name="Height" Value="33"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="264"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Heads.Head[2].btnHead.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Header]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="584"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_HeadButton2]"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001007" Name="numHead2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[F_HeadSmall]"/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="264"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Heads.Head[2].numHead.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Head]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="617"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Heads.Head[2].numHead.nValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnHead3">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Heads]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapIndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Heads.Head[3].btnHead.nBmpIndex]"/>
          <Property Name="BitmapSimulationValue" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_55]"/>
          <Property Name="Height" Value="33"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="356"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Heads.Head[3].btnHead.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Header]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="584"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_HeadButton3]"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x00001007" Name="numHead3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[F_HeadSmall]"/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="356"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Heads.Head[3].numHead.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Head]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="617"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Heads.Head[3].numHead.nValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="38"/>
        </Control>
        <Control ClassId="0x0000100D" Name="lnSeparator1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="479"/>
          <Property Name="EndY" Value="641"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="LineWidth" Value="5"/>
          <Property Name="StartX" Value="0"/>
          <Property Name="StartY" Value="641"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnNavigationLeft">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Arrows]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapIndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Navigation.btnLeft.nBmpIndex]"/>
          <Property Name="BitmapSimulationValue" Value="1"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_56]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="10"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Navigation.btnLeft.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Arrow]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="592"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_NavigationLeft]"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnNavigationRight">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Arrows]"/>
          <Property Name="BitmapIndex" Value="2"/>
          <Property Name="BitmapIndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Navigation.btnRight.nBmpIndex]"/>
          <Property Name="BitmapSimulationValue" Value="1"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_57]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="430"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Navigation.btnRight.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Arrow]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="592"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_NavigationRight]"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x0000100D" Name="lnSeparator2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndX" Value="479"/>
          <Property Name="EndY" Value="576"/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="LineWidth" Value="7"/>
          <Property Name="StartX" Value="0"/>
          <Property Name="StartY" Value="576"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Line]"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtHeadNumber">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[F_HeadnumberTitle]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="340"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndexOffset" Value="100"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="66"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="numHeadNumber">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[F_HeadBig]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="440"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="11"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="66"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.nSelectedHeadIndex]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtSwitchIndexMax">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="40"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndexOffset" Value="1010"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="110"/>
          <Property Name="Width" Value="160"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtProductLen">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="40"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numProductLen.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndexOffset" Value="1011"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="180"/>
          <Property Name="Width" Value="160"/>
        </Control>
        <Control ClassId="0x00001007" Name="numProductLen">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numProductLen.nColor]"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numProductLen.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="80"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="9.99999"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numProductLen.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="200"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numProductLen.rValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpChkStitching">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Controls]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.chkStichModeOn.nBmpIndex]"/>
          <Property Name="Left" Value="348"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.chkStichModeOn.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="278"/>
          <Property Name="Width" Value="24"/>
        </Control>
        <Control ClassId="0x00001003" Name="hsChkStitching">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_92]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="280"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.chkStichModeOn.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="270"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_HeadStitchModeOn]"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtChkStitching">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="280"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.chkStichModeOn.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndexOffset" Value="1020"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="250"/>
          <Property Name="Width" Value="160"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtTrackLenTotal">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="40"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndexOffset" Value="1021"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="250"/>
          <Property Name="Width" Value="160"/>
        </Control>
        <Control ClassId="0x00001007" Name="numTrackLenTotal">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numTrackLenTotal.nColor]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="80"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="270"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numTrackLenTotal.rValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnSwitchesLeft">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Arrows]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapIndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.btnSwitchesLeft.nBmpIndex]"/>
          <Property Name="BitmapSimulationValue" Value="1"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_93]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="10"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.btnSwitchesLeft.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Arrow]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="472"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_HeadSwitchesLeft]"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnSwitchesRight">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Arrows]"/>
          <Property Name="BitmapIndex" Value="2"/>
          <Property Name="BitmapIndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.btnSwitchesRight.nBmpIndex]"/>
          <Property Name="BitmapSimulationValue" Value="1"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_94]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="430"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.btnSwitchesRight.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Arrow]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="472"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_HeadSwitchesRight]"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001007" Name="numLine0">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[0].nColor]"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[0].bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="88"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="-1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[0].nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="410"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[0].rLine]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="70"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtLine0">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="88"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[0].nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndexOffset" Value="1041"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="390"/>
          <Property Name="Width" Value="70"/>
        </Control>
        <Control ClassId="0x00001007" Name="numPause0">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[0].nColor]"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[0].bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="-1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[0].nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="410"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[0].rPause]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="70"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtPause0">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[0].nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndexOffset" Value="1040"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="390"/>
          <Property Name="Width" Value="70"/>
        </Control>
        <Control ClassId="0x00001007" Name="numLine1">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[1].nColor]"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[1].bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="-1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[1].nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="410"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[1].rLine]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="70"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtLine1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="244"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[1].nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndexOffset" Value="1043"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="390"/>
          <Property Name="Width" Value="70"/>
        </Control>
        <Control ClassId="0x00001007" Name="numPause1">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[1].nColor]"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[1].bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="166"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="-1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[1].nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="410"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[1].rPause]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="70"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtPause1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="166"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[1].nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndexOffset" Value="1042"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="390"/>
          <Property Name="Width" Value="70"/>
        </Control>
        <Control ClassId="0x00001007" Name="numLine2">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[2].nColor]"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[2].bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="400"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIntegerDigits" Value="0"/>
          <Property Name="MinValue" Value="-1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[2].nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="410"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[2].rLine]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="70"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtLine2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="400"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[2].nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndexOffset" Value="1045"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="390"/>
          <Property Name="Width" Value="70"/>
        </Control>
        <Control ClassId="0x00001007" Name="numPause2">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[2].nColor]"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[2].bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="322"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIntegerDigits" Value="0"/>
          <Property Name="MinValue" Value="-1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[2].nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="410"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[2].rPause]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="70"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtPause2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="322"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.SwitchesShow[2].nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndexOffset" Value="1044"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="390"/>
          <Property Name="Width" Value="70"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnApply">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_95]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="320"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.btnApply.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Normal]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndex" Value="1061"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="520"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_HeadApply]"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x0000100F" Name="dbLines">
          <Property Name="BackColor" Value="251"/>
          <Property Name="Border" Value="Source[local].Border[B_FlatUnpressedGrey3]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[DrawBox]"/>
          <Property Name="Top" Value="344"/>
          <Property Name="Width" Value="460"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtStitchPattern">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndexOffset" Value="1030"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="324"/>
          <Property Name="Width" Value="460"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnSwitchMinus">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_101]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="80"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.btnSwitchMinus.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[PlusMinus]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndex" Value="101"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="130"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_HeadSwitchMinus]"/>
          <Property Name="Width" Value="36"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnSwitchPlus">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_102]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="164"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.btnSwitchPlus.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[PlusMinus]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndex" Value="102"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="130"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_HeadSwitchPlus]"/>
          <Property Name="Width" Value="36"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpProductLen">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Miscellaneous]"/>
          <Property Name="BitmapIndex" Value="3"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="40"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="202"/>
          <Property Name="Width" Value="36"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpTrackLenTotal">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Miscellaneous]"/>
          <Property Name="BitmapIndex" Value="4"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="40"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="272"/>
          <Property Name="Width" Value="36"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnCopy">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_103]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="165"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.btnCopy.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Normal]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndex" Value="1060"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="520"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_HeadCopy]"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtProductLenUnit">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="40"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Units]"/>
          <Property Name="TextIndexOffset" Value="100"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="180"/>
          <Property Name="Width" Value="160"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtTrackLenTotalUnit">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="40"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Units]"/>
          <Property Name="TextIndexOffset" Value="100"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="250"/>
          <Property Name="Width" Value="160"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpSwitchIndexMax">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Miscellaneous]"/>
          <Property Name="BitmapIndex" Value="2"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="40"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="132"/>
          <Property Name="Width" Value="36"/>
        </Control>
        <Control ClassId="0x00001007" Name="numSwitchIndexMax">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numSwitchIndexMax.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="116"/>
          <Property Name="MaxDatapoint" Value="Source[global].Variable[DS_Plc.Global.nIDX_SWITCHES_MAX]"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="-1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numSwitchIndexMax.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="130"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numSwitchIndexMax.nValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="48"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtSensorType">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="280"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndexOffset" Value="1000"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="110"/>
          <Property Name="Width" Value="160"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtPrintmarkNumber">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="280"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.nSelectedPrintmarkStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndexOffset" Value="1001"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="180"/>
          <Property Name="Width" Value="160"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtSensorType1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.txtSensorType.nIndex]"/>
          <Property Name="Left" Value="280"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3011"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="130"/>
          <Property Name="Width" Value="160"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnPrintmarkMinus">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_115]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="320"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.btnPrintmarkMinus.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[PlusMinus]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndex" Value="101"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="200"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_HeadPrintmarkMinus]"/>
          <Property Name="Width" Value="36"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnPrintmarkPlus">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_116]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="404"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.btnPrintmarkPlus.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[PlusMinus]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndex" Value="102"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="200"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_HeadPrintmarkPlus]"/>
          <Property Name="Width" Value="36"/>
        </Control>
        <Control ClassId="0x00001007" Name="numPrintmarkNumber">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="355"/>
          <Property Name="MaxDatapoint" Value="Source[global].Variable[DS_Plc.Global.nIDX_PRINT_MARK_MAX]"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="-1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.nSelectedPrintmarkStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="200"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.nSelectedPrintMarkIndex]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="48"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtPageTitle">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[PageTitle]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_PageTitle]"/>
          <Property Name="TextIndexOffset" Value="1100"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="74"/>
          <Property Name="Width" Value="410"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpPrintmark">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Miscellaneous]"/>
          <Property Name="BitmapIndex" Value="4"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="280"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.nSelectedPrintmarkStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="202"/>
          <Property Name="Width" Value="36"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtCloseDistance">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="60"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numStitchCloseDistance.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndexOffset" Value="1050"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="452"/>
          <Property Name="Width" Value="160"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtStitchSize">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="260"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.ddStitchSize.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndexOffset" Value="1051"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="452"/>
          <Property Name="Width" Value="160"/>
        </Control>
        <Control ClassId="0x00001007" Name="numCloseDistance">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numStitchCloseDistance.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="100"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="250"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0.2"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numStitchCloseDistance.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="472"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numStitchCloseDistance.rValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001018" Name="ddStitchSize">
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.ddStitchSize.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="38"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.ddStitchSize.nIndex]"/>
          <Property Name="Left" Value="260"/>
          <Property Name="LeftBitmap" Value="None"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="2"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.ddStitchSize.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[DropDown]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndexOffset" Value="1052"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="472"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpCloseDistance">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Miscellaneous]"/>
          <Property Name="BitmapIndex" Value="4"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="60"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numStitchCloseDistance.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="474"/>
          <Property Name="Width" Value="36"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnHeadPar">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Arrows]"/>
          <Property Name="BitmapIndex" Value="2"/>
          <Property Name="BitmapIndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.btnSwitchesRight.nBmpIndex]"/>
          <Property Name="BitmapSimulationValue" Value="1"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_296]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="430"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.btnHeadPar.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Arrow]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="270"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_HeadPar]"/>
          <Property Name="Width" Value="40"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[numProductLen]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[numLine0]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[numPause0]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[numPrintmarkNumber]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[numSwitchIndexMax]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[numLine0]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[numCloseDistance]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[numPause0]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[numPause1]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[numProductLen]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[numPause0]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[ddStitchSize]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[numLine2]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[numLine0]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[numProductLen]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[numLine1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[ddStitchSize]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[numPause1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[numPause2]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[numProductLen]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[numPause1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[numCloseDistance]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[numLine0]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[numLine1]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[numProductLen]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[numLine2]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[ddStitchSize]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[numPause2]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[numPause0]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[numPrintmarkNumber]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[numPause2]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[ddStitchSize]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[numLine1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[numLine2]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[numPrintmarkNumber]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[numSwitchIndexMax]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[numProductLen]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[numPause0]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[numPause1]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[numCloseDistance]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[numPrintmarkNumber]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[numPause2]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[numProductLen]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[numLine2]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[numSwitchIndexMax]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[numCloseDistance]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[numSwitchIndexMax]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[numPause0]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[ddStitchSize]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[numLine0]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[ddStitchSize]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[numPrintmarkNumber]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[numCloseDistance]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[numLine2]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[numLine1]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[CL_Header].Control[strDateTime]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[numHead0]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[numHead1]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[numHead2]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[numHead3]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[numHeadNumber]"/>
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Default].Control[numSwitchIndexMax]"/>
    <TabSeqItem Index="7" Value="Source[embedded].Layer[Default].Control[numProductLen]"/>
    <TabSeqItem Index="8" Value="Source[embedded].Layer[Default].Control[numTrackLenTotal]"/>
    <TabSeqItem Index="9" Value="Source[embedded].Layer[Default].Control[numLine0]"/>
    <TabSeqItem Index="10" Value="Source[embedded].Layer[Default].Control[numPause0]"/>
    <TabSeqItem Index="11" Value="Source[embedded].Layer[Default].Control[numPause2]"/>
    <TabSeqItem Index="12" Value="Source[embedded].Layer[Default].Control[numLine2]"/>
    <TabSeqItem Index="13" Value="Source[embedded].Layer[Default].Control[numLine1]"/>
    <TabSeqItem Index="14" Value="Source[embedded].Layer[Default].Control[numPause1]"/>
    <TabSeqItem Index="15" Value="Source[embedded].Layer[Default].Control[numPrintmarkNumber]"/>
    <TabSeqItem Index="16" Value="Source[embedded].Layer[Default].Control[numCylinderPerimeter]"/>
    <TabSeqItem Index="17" Value="Source[embedded].Layer[Default].Control[numCloseDistance]"/>
    <TabSeqItem Index="18" Value="Source[embedded].Layer[Default].Control[ddStitchSize]"/>
  </TabSequence>
</Page>