<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.5.388"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="P02020_ProductionDelete">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="800"/>
  <Property Name="Index" Value="2020"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="480"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[CL_HeaderWithoutMenu]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="CL_HeaderWithoutMenu"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="800"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="480"/>
      <Property Name="Z-Order" Value="1"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="btnDelete">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_42]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="320"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageProductionDelete.btnDelete.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Normal]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Production]"/>
          <Property Name="TextIndex" Value="202"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="556"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_ProductionDeleteOk]"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnCancel">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_58]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="10"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageProductionDelete.btnCancel.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Normal]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Production]"/>
          <Property Name="TextIndex" Value="303"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="556"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_ProductionDeleteCancel]"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtPageTitle">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[PageTitle]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Production]"/>
          <Property Name="TextIndexOffset" Value="400"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="156"/>
          <Property Name="Width" Value="410"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtName">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Production]"/>
          <Property Name="TextIndexOffset" Value="401"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="216"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x0000100B" Name="strName">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="240"/>
          <Property Name="SimulationValue" Value="ABC"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="Top" Value="216"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageProductionDelete.strName.sValue]"/>
          <Property Name="Width" Value="120"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
  </Layers>
  <MovementOrder/>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[strName]"/>
    <TabSeqItem Index="1" Value="Source[local].Layer[CL_HeaderWithoutMenu].Control[strDateTime]"/>
  </TabSequence>
</Page>