<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.5.388"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="P02110_Configuration10">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="800"/>
  <Property Name="Index" Value="2110"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="480"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[CL_Header]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="CL_Header"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[CL_Footer]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="CL_Footer"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[CL_Menu]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="CL_Menu"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="800"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="480"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="txtPageTitle">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[PageTitle]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_PageTitle]"/>
          <Property Name="TextIndexOffset" Value="2110"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="156"/>
          <Property Name="Width" Value="460"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnNavigationLeft">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Arrows]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapIndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Navigation.btnLeft.nBmpIndex]"/>
          <Property Name="BitmapSimulationValue" Value="1"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_145]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="10"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Navigation.btnLeft.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Arrow]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="600"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_NavigationLeft]"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnNavigationRight">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Arrows]"/>
          <Property Name="BitmapIndex" Value="2"/>
          <Property Name="BitmapIndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Navigation.btnRight.nBmpIndex]"/>
          <Property Name="BitmapSimulationValue" Value="1"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_146]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="430"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Navigation.btnRight.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Arrow]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="600"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_NavigationRight]"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001007" Name="numVelocity">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistanceHeadSensor.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.nMotorizedAdjustmentInputStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="334"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Global.gPar.MachinePar.MotorisedAdjustment.rVelocityVertical]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtVelocity">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="9002"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="334"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtHeadNumber">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3000"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="240"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001007" Name="numHeadNumber">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="Source[global].Variable[DS_Plc.Global.gPar.MachinePar.nBonDevIndex]"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="240"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.nSelectedHeadIndex]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnHeadLeft">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Arrows]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapIndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.btnHeadLeft.nBmpIndex]"/>
          <Property Name="BitmapSimulationValue" Value="1"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_148]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="204"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.btnHeadLeft.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Arrow]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="240"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_ConfigHeadLeft]"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnHeadRight">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Arrows]"/>
          <Property Name="BitmapIndex" Value="2"/>
          <Property Name="BitmapIndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.btnHeadRight.nBmpIndex]"/>
          <Property Name="BitmapSimulationValue" Value="1"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_149]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="364"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.btnHeadRight.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Arrow]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="240"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_ConfigHeadRight]"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpChkMotAdjustVertical">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Controls]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="48"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.chkMotorizedAdjustmentVertical.nBmpIndex]"/>
          <Property Name="Left" Value="244"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.chkMotorizedAdjustmentVertical.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="282"/>
          <Property Name="Width" Value="48"/>
        </Control>
        <Control ClassId="0x00001003" Name="hsChkMotAdjustVertical">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_150]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="244"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.chkMotorizedAdjustmentVertical.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="286"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_ConfigMotAdjustVertical]"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtMotAdjustVertical">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="9001"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="286"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001007" Name="numRefOffset">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numMotAdjustRefOffsetVertical.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.nMotorizedAdjustmentInputStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="380"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numMotAdjustRefOffsetVertical.rValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtRefOffset">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="9003"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="380"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001007" Name="numNegLimit">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numMotAdjustNegLimitVertical.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="245"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.nMotorizedAdjustmentInputStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="426"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numMotAdjustNegLimitVertical.rValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtNegLimit">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="9004"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="426"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001007" Name="numPosLimit">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numMotAdjustPosLimitVertical.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.nMotorizedAdjustmentInputStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="472"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numMotAdjustPosLimitVertical.rValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtPosLimit">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="9005"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="472"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtChkMotorizedAdjustment">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_ModuleConfig]"/>
          <Property Name="TextIndexOffset" Value="1030"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="196"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpChkMotorizedAdjustment">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Controls]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="48"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageModuleConfig.chkMotorizedAdjustmentEnable.nBmpIndex]"/>
          <Property Name="Left" Value="244"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageModuleConfig.chkMotorizedAdjustmentEnable.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="192"/>
          <Property Name="Width" Value="48"/>
        </Control>
        <Control ClassId="0x00001003" Name="hsChkMotorizedAdjustment">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_228]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="244"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageModuleConfig.chkMotorizedAdjustmentEnable.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="196"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_ModConfigMotorizedAdjustEn]"/>
          <Property Name="Width" Value="120"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[numVelocity]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[numRefOffset]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[numHeadNumber]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[numRefOffset]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[numHeadNumber]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[numHeadNumber]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[numVelocity]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[numNegLimit]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[numVelocity]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[numPosLimit]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[numRefOffset]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[numNegLimit]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[numVelocity]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[numPosLimit]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[numVelocity]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[numNegLimit]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[numPosLimit]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[numRefOffset]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[numPosLimit]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[numRefOffset]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[numPosLimit]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[numHeadNumber]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[numNegLimit]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[numRefOffset]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[numNegLimit]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[CL_Header].Control[strDateTime]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[numVelocity]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[numHeadNumber]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[numRefOffset]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[numNegLimit]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[numPosLimit]"/>
  </TabSequence>
</Page>