<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.5.388"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="P02103_Configuration3">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="800"/>
  <Property Name="Index" Value="2103"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="480"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[CL_Header]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="CL_Header"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[CL_Footer]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="CL_Footer"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[CL_Menu]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="CL_Menu"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="800"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="480"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="txtHeadNumber">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3000"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="196"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtPageTitle">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[PageTitle]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_PageTitle]"/>
          <Property Name="TextIndexOffset" Value="2103"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="156"/>
          <Property Name="Width" Value="460"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnNavigationLeft">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Arrows]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapIndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Navigation.btnLeft.nBmpIndex]"/>
          <Property Name="BitmapSimulationValue" Value="1"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_38]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="10"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Navigation.btnLeft.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Arrow]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="600"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_NavigationLeft]"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnNavigationRight">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Arrows]"/>
          <Property Name="BitmapIndex" Value="2"/>
          <Property Name="BitmapIndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Navigation.btnRight.nBmpIndex]"/>
          <Property Name="BitmapSimulationValue" Value="1"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_39]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="430"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Navigation.btnRight.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Arrow]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="600"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_NavigationRight]"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001007" Name="numHeadNumber">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="Source[global].Variable[DS_Plc.Global.gPar.MachinePar.nBonDevIndex]"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="196"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.nSelectedHeadIndex]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnHeadLeft">
          <Property Name="BackColor" Value="252"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Arrows]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapIndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.btnHeadLeft.nBmpIndex]"/>
          <Property Name="BitmapSimulationValue" Value="1"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_96]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="204"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.btnHeadLeft.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Header]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="196"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_ConfigHeadLeft]"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnHeadRight">
          <Property Name="BackColor" Value="252"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Arrows]"/>
          <Property Name="BitmapIndex" Value="2"/>
          <Property Name="BitmapIndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.btnHeadRight.nBmpIndex]"/>
          <Property Name="BitmapSimulationValue" Value="1"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_97]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="364"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.btnHeadRight.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Header]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="196"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_ConfigHeadRight]"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtSensorType">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3010"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="242"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001018" Name="ddHeadSensorType">
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.ddHeadSensorType.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.ddHeadSensorType.nIndex]"/>
          <Property Name="Left" Value="244"/>
          <Property Name="LeftBitmap" Value="None"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxIndex" Value="3"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="0"/>
          <Property Name="OptionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.ddHeadSensorType.nOptions]"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="3"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.ddHeadSensorType.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[DropDown]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3011"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="242"/>
          <Property Name="Width" Value="216"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="L2_Printmark">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="800"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.layHeadPrintmark.nStatus]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Width" Value="480"/>
      <Property Name="Z-Order" Value="4"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="txtPrintMarkSensorNumber">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadPrintMarkSensorNumber.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3030"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="380"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001007" Name="numPrintMarkSensorNumber">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadPrintMarkSensorNumber.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="Source[global].Variable[DS_Plc.Global.gPar.MachinePar.nPrintMarkSensorIndex]"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="-1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadPrintMarkSensorNumber.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="380"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadPrintMarkSensorNumber.nValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001007" Name="numDistanceHeadSensor">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistanceHeadSensor.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistanceHeadSensor.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="288"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistanceHeadSensor.rValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDistanceHeadSensor">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistanceHeadSensor.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3001"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="288"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001007" Name="numEncoderNumber">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadEncoderNumber.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="Source[global].Variable[DS_Plc.Global.gPar.MachinePar.nEncoderIndex]"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadEncoderNumber.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="334"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadEncoderNumber.nValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtEncoderNumber">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadEncoderNumber.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3040"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="334"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtReduceProductLenPercent">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadTriggerSensorNumber.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3063"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="426"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001007" Name="numReduceProductLenPercent">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadReduceProductLenPercent.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadReduceProductLenPercent.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="426"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadReduceProductLenPercent.rValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="L1_Encoder">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="800"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.layHeadEncoder.nStatus]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Width" Value="480"/>
      <Property Name="Z-Order" Value="5"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="txtCylinderPerimeter">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadCylinderPerimeter.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3041"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="380"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001007" Name="numCylinderPerimeter">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadCylinderPerimeter.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="245"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadCylinderPerimeter.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="380"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadCylinderPerimeter.rValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001007" Name="numDistanceHeadSensor">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistanceHeadSensor.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistanceHeadSensor.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="288"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistanceHeadSensor.rValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDistanceHeadSensor">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistanceHeadSensor.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3001"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="288"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001007" Name="numEncoderNumber">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadEncoderNumber.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="Source[global].Variable[DS_Plc.Global.gPar.MachinePar.nEncoderIndex]"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadEncoderNumber.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="334"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadEncoderNumber.nValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtEncoderNumber">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadEncoderNumber.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3040"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="334"/>
          <Property Name="Width" Value="230"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="L0_Trigger">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="800"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.layHeadTrigger.nStatus]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="480"/>
      <Property Name="Z-Order" Value="6"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="txtTriggerSensorNumber">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadTriggerSensorNumber.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3020"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="380"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001007" Name="numTriggerSensorNumber">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadTriggerSensorNumber.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="Source[global].Variable[DS_Plc.Global.gPar.MachinePar.nTriggerSenIndex]"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="-1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadTriggerSensorNumber.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="380"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadTriggerSensorNumber.nValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001007" Name="numDistanceHeadSensor">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistanceHeadSensor.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistanceHeadSensor.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="288"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistanceHeadSensor.rValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDistanceHeadSensor">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistanceHeadSensor.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3001"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="288"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001007" Name="numEncoderNumber">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadEncoderNumber.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="Source[global].Variable[DS_Plc.Global.gPar.MachinePar.nEncoderIndex]"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadEncoderNumber.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="334"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadEncoderNumber.nValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtEncoderNumber">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadEncoderNumber.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3040"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="334"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtReduceProductLenPercent">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadTriggerSensorNumber.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3063"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="426"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001007" Name="numReduceProductLenPercent">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadReduceProductLenPercent.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadReduceProductLenPercent.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="426"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadReduceProductLenPercent.rValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="L3_PrintmarkTrigger">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="800"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.layHeadPrintmarkTrigger.nStatus]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Width" Value="480"/>
      <Property Name="Z-Order" Value="7"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001007" Name="numDistanceHeadSensor">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistanceHeadSensor.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistanceHeadSensor.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="288"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistanceHeadSensor.rValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDistanceHeadSensor">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistanceHeadSensor.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3050"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="288"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001007" Name="numEncoderNumberTrigger">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadEncoderNumber.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="Source[global].Variable[DS_Plc.Global.gPar.MachinePar.nEncoderIndex]"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadEncoderNumber.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="334"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadEncoderNumber.nValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtEncoderNumberTrigger">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadEncoderNumber.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3051"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="334"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtTriggerSensorNumber">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadTriggerSensorNumber.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3020"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="380"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001007" Name="numTriggerSensorNumber">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadTriggerSensorNumber.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="Source[global].Variable[DS_Plc.Global.gPar.MachinePar.nTriggerSenIndex]"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="-1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadTriggerSensorNumber.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="380"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadTriggerSensorNumber.nValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001007" Name="numEncoderNumberPrintmark">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadPrintMarkEncoder.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="Source[global].Variable[DS_Plc.Global.gPar.MachinePar.nEncoderIndex]"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadPrintMarkEncoder.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="472"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadPrintMarkEncoder.nValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtEncoderNumberPrintmark">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadPrintMarkEncoder.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3052"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="472"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtPrintMarkSensorNumber">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadPrintMarkSource.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3030"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="518"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001007" Name="numPrintMarkSensorNumber">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadPrintMarkSource.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="Source[global].Variable[DS_Plc.Global.gPar.MachinePar.nPrintMarkSensorIndex]"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="-1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadPrintMarkSource.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="518"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadPrintMarkSource.nValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtHeadDistanceHeadSensor">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistancePrintTrigSensor.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3053"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="426"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001007" Name="numHeadDistanceHeadSensor">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistancePrintTrigSensor.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="244"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistancePrintTrigSensor.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="426"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistancePrintTrigSensor.rValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001007" Name="numHeadDistancePrintVelocityJump">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistancePrintVelocityJump.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="370"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistancePrintVelocityJump.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="426"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistancePrintVelocityJump.rValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtHeadDistancePrintVelocityJump">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.numHeadDistancePrintVelocityJump.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="3054"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="440"/>
          <Property Name="Width" Value="230"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[numHeadNumber]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[ddHeadSensorType]"/>
      <Property Name="Left" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numHeadDistancePrintVelocityJump]"/>
      <Property Name="Right" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numHeadDistancePrintVelocityJump]"/>
      <Property Name="Up" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numPrintMarkSensorNumber]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[ddHeadSensorType]">
      <Property Name="Down" Value="Source[embedded].Layer[L2_Printmark].Control[numDistanceHeadSensor]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[numHeadNumber]"/>
      <Property Name="Right" Value="Source[embedded].Layer[L2_Printmark].Control[numDistanceHeadSensor]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[numHeadNumber]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[L2_Printmark].Control[numPrintMarkSensorNumber]">
      <Property Name="Down" Value="Source[embedded].Layer[L0_Trigger].Control[numTriggerSensorNumber]"/>
      <Property Name="Left" Value="Source[embedded].Layer[L0_Trigger].Control[numTriggerSensorNumber]"/>
      <Property Name="Right" Value="Source[embedded].Layer[L0_Trigger].Control[numTriggerSensorNumber]"/>
      <Property Name="Up" Value="Source[embedded].Layer[L0_Trigger].Control[numTriggerSensorNumber]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[L2_Printmark].Control[numDistanceHeadSensor]">
      <Property Name="Down" Value="Source[embedded].Layer[L1_Encoder].Control[numDistanceHeadSensor]"/>
      <Property Name="Left" Value="Source[embedded].Layer[L1_Encoder].Control[numDistanceHeadSensor]"/>
      <Property Name="Right" Value="Source[embedded].Layer[L1_Encoder].Control[numDistanceHeadSensor]"/>
      <Property Name="Up" Value="Source[embedded].Layer[L1_Encoder].Control[numDistanceHeadSensor]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[L2_Printmark].Control[numEncoderNumber]">
      <Property Name="Down" Value="Source[embedded].Layer[L1_Encoder].Control[numEncoderNumber]"/>
      <Property Name="Left" Value="Source[embedded].Layer[L1_Encoder].Control[numEncoderNumber]"/>
      <Property Name="Right" Value="Source[embedded].Layer[L1_Encoder].Control[numEncoderNumber]"/>
      <Property Name="Up" Value="Source[embedded].Layer[L1_Encoder].Control[numEncoderNumber]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[L2_Printmark].Control[numReduceProductLenPercent]">
      <Property Name="Down" Value="Source[embedded].Layer[L0_Trigger].Control[numReduceProductLenPercent]"/>
      <Property Name="Left" Value="Source[embedded].Layer[L0_Trigger].Control[numReduceProductLenPercent]"/>
      <Property Name="Right" Value="Source[embedded].Layer[L0_Trigger].Control[numReduceProductLenPercent]"/>
      <Property Name="Up" Value="Source[embedded].Layer[L0_Trigger].Control[numReduceProductLenPercent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[L1_Encoder].Control[numCylinderPerimeter]">
      <Property Name="Down" Value="Source[embedded].Layer[L2_Printmark].Control[numReduceProductLenPercent]"/>
      <Property Name="Left" Value="Source[embedded].Layer[L2_Printmark].Control[numPrintMarkSensorNumber]"/>
      <Property Name="Right" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numHeadDistancePrintVelocityJump]"/>
      <Property Name="Up" Value="Source[embedded].Layer[L2_Printmark].Control[numEncoderNumber]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[L1_Encoder].Control[numDistanceHeadSensor]">
      <Property Name="Down" Value="Source[embedded].Layer[L0_Trigger].Control[numDistanceHeadSensor]"/>
      <Property Name="Left" Value="Source[embedded].Layer[L0_Trigger].Control[numDistanceHeadSensor]"/>
      <Property Name="Right" Value="Source[embedded].Layer[L0_Trigger].Control[numDistanceHeadSensor]"/>
      <Property Name="Up" Value="Source[embedded].Layer[L0_Trigger].Control[numDistanceHeadSensor]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[L1_Encoder].Control[numEncoderNumber]">
      <Property Name="Down" Value="Source[embedded].Layer[L0_Trigger].Control[numEncoderNumber]"/>
      <Property Name="Left" Value="Source[embedded].Layer[L0_Trigger].Control[numEncoderNumber]"/>
      <Property Name="Right" Value="Source[embedded].Layer[L0_Trigger].Control[numEncoderNumber]"/>
      <Property Name="Up" Value="Source[embedded].Layer[L0_Trigger].Control[numEncoderNumber]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[L0_Trigger].Control[numTriggerSensorNumber]">
      <Property Name="Down" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numTriggerSensorNumber]"/>
      <Property Name="Left" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numTriggerSensorNumber]"/>
      <Property Name="Right" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numTriggerSensorNumber]"/>
      <Property Name="Up" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numTriggerSensorNumber]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[L0_Trigger].Control[numDistanceHeadSensor]">
      <Property Name="Down" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numDistanceHeadSensor]"/>
      <Property Name="Left" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numDistanceHeadSensor]"/>
      <Property Name="Right" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numDistanceHeadSensor]"/>
      <Property Name="Up" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numDistanceHeadSensor]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[L0_Trigger].Control[numEncoderNumber]">
      <Property Name="Down" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numEncoderNumberTrigger]"/>
      <Property Name="Left" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numEncoderNumberTrigger]"/>
      <Property Name="Right" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numEncoderNumberTrigger]"/>
      <Property Name="Up" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numEncoderNumberTrigger]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[L0_Trigger].Control[numReduceProductLenPercent]">
      <Property Name="Down" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numHeadDistanceHeadSensor]"/>
      <Property Name="Left" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numHeadDistanceHeadSensor]"/>
      <Property Name="Right" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numHeadDistanceHeadSensor]"/>
      <Property Name="Up" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numHeadDistanceHeadSensor]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numDistanceHeadSensor]">
      <Property Name="Down" Value="Source[embedded].Layer[L2_Printmark].Control[numEncoderNumber]"/>
      <Property Name="Left" Value="Source[embedded].Layer[L2_Printmark].Control[numDistanceHeadSensor]"/>
      <Property Name="Right" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numHeadDistancePrintVelocityJump]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[ddHeadSensorType]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numEncoderNumberTrigger]">
      <Property Name="Down" Value="Source[embedded].Layer[L2_Printmark].Control[numPrintMarkSensorNumber]"/>
      <Property Name="Left" Value="Source[embedded].Layer[L2_Printmark].Control[numEncoderNumber]"/>
      <Property Name="Right" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numHeadDistancePrintVelocityJump]"/>
      <Property Name="Up" Value="Source[embedded].Layer[L2_Printmark].Control[numDistanceHeadSensor]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numTriggerSensorNumber]">
      <Property Name="Down" Value="Source[embedded].Layer[L1_Encoder].Control[numCylinderPerimeter]"/>
      <Property Name="Left" Value="Source[embedded].Layer[L1_Encoder].Control[numCylinderPerimeter]"/>
      <Property Name="Right" Value="Source[embedded].Layer[L1_Encoder].Control[numCylinderPerimeter]"/>
      <Property Name="Up" Value="Source[embedded].Layer[L1_Encoder].Control[numCylinderPerimeter]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numEncoderNumberPrintmark]">
      <Property Name="Down" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numPrintMarkSensorNumber]"/>
      <Property Name="Left" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numHeadDistancePrintVelocityJump]"/>
      <Property Name="Right" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numHeadDistancePrintVelocityJump]"/>
      <Property Name="Up" Value="Source[embedded].Layer[L2_Printmark].Control[numReduceProductLenPercent]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numPrintMarkSensorNumber]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[numHeadNumber]"/>
      <Property Name="Left" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numHeadDistancePrintVelocityJump]"/>
      <Property Name="Right" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numHeadDistancePrintVelocityJump]"/>
      <Property Name="Up" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numEncoderNumberPrintmark]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numHeadDistanceHeadSensor]">
      <Property Name="Down" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numEncoderNumberPrintmark]"/>
      <Property Name="Left" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numHeadDistancePrintVelocityJump]"/>
      <Property Name="Right" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numHeadDistancePrintVelocityJump]"/>
      <Property Name="Up" Value="Source[embedded].Layer[L2_Printmark].Control[numPrintMarkSensorNumber]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numHeadDistancePrintVelocityJump]">
      <Property Name="Down" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numEncoderNumberPrintmark]"/>
      <Property Name="Left" Value="Source[embedded].Layer[L2_Printmark].Control[numReduceProductLenPercent]"/>
      <Property Name="Right" Value="Source[embedded].Layer[L2_Printmark].Control[numReduceProductLenPercent]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[ddHeadSensorType]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[CL_Header].Control[strDateTime]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[numHeadNumber]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[ddHeadSensorType]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[L2_Printmark].Control[numPrintMarkSensorNumber]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[L0_Trigger].Control[numTriggerSensorNumber]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[L1_Encoder].Control[numCylinderPerimeter]"/>
    <TabSeqItem Index="6" Value="Source[embedded].Layer[L0_Trigger].Control[numDistanceHeadSensor]"/>
    <TabSeqItem Index="7" Value="Source[embedded].Layer[L1_Encoder].Control[numDistanceHeadSensor]"/>
    <TabSeqItem Index="8" Value="Source[embedded].Layer[L2_Printmark].Control[numDistanceHeadSensor]"/>
    <TabSeqItem Index="9" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numDistanceHeadSensor]"/>
    <TabSeqItem Index="10" Value="Source[embedded].Layer[L0_Trigger].Control[numEncoderNumber]"/>
    <TabSeqItem Index="11" Value="Source[embedded].Layer[L1_Encoder].Control[numEncoderNumber]"/>
    <TabSeqItem Index="12" Value="Source[embedded].Layer[L2_Printmark].Control[numEncoderNumber]"/>
    <TabSeqItem Index="13" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numEncoderNumberTrigger]"/>
    <TabSeqItem Index="14" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numTriggerSensorNumber]"/>
    <TabSeqItem Index="15" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numEncoderNumberPrintmark]"/>
    <TabSeqItem Index="16" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numPrintMarkSensorNumber]"/>
    <TabSeqItem Index="17" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numHeadDistanceHeadSensor]"/>
    <TabSeqItem Index="18" Value="Source[embedded].Layer[L3_PrintmarkTrigger].Control[numHeadDistancePrintVelocityJump]"/>
    <TabSeqItem Index="19" Value="Source[embedded].Layer[L0_Trigger].Control[numReduceProductLenPercent]"/>
    <TabSeqItem Index="20" Value="Source[embedded].Layer[L2_Printmark].Control[numReduceProductLenPercent]"/>
  </TabSequence>
</Page>