<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.5.388"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="P02101_Configuration1">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="800"/>
  <Property Name="Index" Value="2101"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="480"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[CL_Header]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="CL_Header"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[CL_Footer]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="CL_Footer"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[CL_Menu]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="CL_Menu"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="800"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="480"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001001" Name="shGerman">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="56"/>
          <Property Name="Left" Value="230"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.shLanguageGerman.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Selection]"/>
          <Property Name="Top" Value="188"/>
          <Property Name="Width" Value="70"/>
        </Control>
        <Control ClassId="0x00001001" Name="shEnglish">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="56"/>
          <Property Name="Left" Value="302"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageConfiguration.shLanguageEnglish.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Selection]"/>
          <Property Name="Top" Value="188"/>
          <Property Name="Width" Value="70"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtLanguageEnglish">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Bottom"/>
          <Property Name="BackColor" Value="15"/>
          <Property Name="Border" Value="Source[local].Border[B_FlatGrey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Height" Value="48"/>
          <Property Name="Left" Value="306"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="1002"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="192"/>
          <Property Name="Width" Value="62"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtLanguageGerman">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Bottom"/>
          <Property Name="BackColor" Value="15"/>
          <Property Name="Border" Value="Source[local].Border[B_FlatGrey]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Height" Value="48"/>
          <Property Name="Left" Value="234"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="1001"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="192"/>
          <Property Name="Width" Value="62"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpLanguageGerman">
          <Property Name="BackColor" Value="15"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Languages]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="235"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="193"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtLanguage">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="1000"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="197"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpLanguageEnglish">
          <Property Name="BackColor" Value="15"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Languages]"/>
          <Property Name="BitmapIndex" Value="1"/>
          <Property Name="BitmapSource" Value="BitmapGroup"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="307"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="193"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtPageTitle">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[PageTitle]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_PageTitle]"/>
          <Property Name="TextIndexOffset" Value="2101"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="156"/>
          <Property Name="Width" Value="460"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtScreensaverTime">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="1010"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="288"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001007" Name="numScreensaverTime">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="240"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="3599999.99999999"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="288"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Global.gPar.MachinePar.nScreensaverTime]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="133"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtEnableSpeed">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Configuration]"/>
          <Property Name="TextIndexOffset" Value="1020"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="334"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001007" Name="numEnableSpeed">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="240"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="334"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Global.gPar.MachinePar.rEnVelocity]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="133"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnNavigationLeft">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Arrows]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapIndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Navigation.btnLeft.nBmpIndex]"/>
          <Property Name="BitmapSimulationValue" Value="1"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_38]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="10"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Navigation.btnLeft.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Arrow]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="600"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_NavigationLeft]"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnNavigationRight">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Arrows]"/>
          <Property Name="BitmapIndex" Value="2"/>
          <Property Name="BitmapIndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Navigation.btnRight.nBmpIndex]"/>
          <Property Name="BitmapSimulationValue" Value="1"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_39]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="430"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Navigation.btnRight.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Arrow]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="600"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_NavigationRight]"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001003" Name="hsLanguageGerman">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_4]"/>
          <Property Name="Height" Value="48"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="234"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="192"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_ConfigLanguageGerman]"/>
          <Property Name="Width" Value="62"/>
        </Control>
        <Control ClassId="0x00001003" Name="hsLanguageEnglish">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_5]"/>
          <Property Name="Height" Value="48"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="306"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="192"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_ConfigLanguageEnglish]"/>
          <Property Name="Width" Value="62"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[numScreensaverTime]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[numEnableSpeed]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[numEnableSpeed]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[numEnableSpeed]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[numEnableSpeed]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[numEnableSpeed]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[numScreensaverTime]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[numScreensaverTime]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[numScreensaverTime]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[numScreensaverTime]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[CL_Header].Control[strDateTime]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[numScreensaverTime]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[numEnableSpeed]"/>
  </TabSequence>
</Page>