<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.5.388"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="P02112_Configuration12">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="800"/>
  <Property Name="Index" Value="2112"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="480"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[CL_Header]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="CL_Header"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[CL_Footer]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="CL_Footer"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[CL_Menu]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="CL_Menu"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="800"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="480"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="txtPageTitle">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[PageTitle]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_PageTitle]"/>
          <Property Name="TextIndexOffset" Value="2112"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="156"/>
          <Property Name="Width" Value="460"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnNavigationLeft">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Arrows]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapIndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Navigation.btnLeft.nBmpIndex]"/>
          <Property Name="BitmapSimulationValue" Value="1"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_131]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="10"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Navigation.btnLeft.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Arrow]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="600"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_NavigationLeft]"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnNavigationRight">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Arrows]"/>
          <Property Name="BitmapIndex" Value="2"/>
          <Property Name="BitmapIndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Navigation.btnRight.nBmpIndex]"/>
          <Property Name="BitmapSimulationValue" Value="1"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_152]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="430"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.Navigation.btnRight.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Arrow]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="600"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_NavigationRight]"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtChkImageProcessing">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_ModuleConfig]"/>
          <Property Name="TextIndexOffset" Value="1050"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="196"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001005" Name="bmpChkImageProcessing">
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[BG_Controls]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="48"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageModuleConfig.chkImageProcessingEnable.nBmpIndex]"/>
          <Property Name="Left" Value="244"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageModuleConfig.chkImageProcessingEnable.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="192"/>
          <Property Name="Width" Value="48"/>
        </Control>
        <Control ClassId="0x00001003" Name="hsChkImageProcessing">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_230]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="244"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageModuleConfig.chkImageProcessingEnable.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="196"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_ModConfigImageProcessingEn]"/>
          <Property Name="Width" Value="120"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
  </Layers>
  <MovementOrder/>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[CL_Header].Control[strDateTime]"/>
  </TabSequence>
</Page>