<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.5.388"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="P03200_PressureControl">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="800"/>
  <Property Name="Index" Value="3200"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="480"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[CL_Header]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="CL_Header"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[CL_Footer]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="CL_Footer"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[CL_Toolbar]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="CL_Toolbar"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="800"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="480"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="txtCorrectionUnit">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="190"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Units]"/>
          <Property Name="TextIndexOffset" Value="101"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="259"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001007" Name="numCorrection">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PagePressureControl.numCorrection.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="190"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="280"/>
          <Property Name="UnitText" Value="Abbreviation"/>
          <Property Name="UnitTextAlignment" Value="Left"/>
          <Property Name="UnitTextPosition" Value="Right"/>
          <Property Name="UnitTextWidth" Value="0"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PagePressureControl.numCorrection.rValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtBasePressureUnit">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="50"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Units]"/>
          <Property Name="TextIndexOffset" Value="101"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="112"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtPageTitle">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[PageTitle]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_PressureControl]"/>
          <Property Name="TextIndexOffset" Value="100"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="78"/>
          <Property Name="Width" Value="410"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtBasePressure">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="50"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_PressureControl]"/>
          <Property Name="TextIndexOffset" Value="101"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="112"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001007" Name="numBasePressure">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numProductLen.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="50"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="9.99999"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="132"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Global.gPar.MachinePar.PressureControl.PreCtrlBasis.rBasePressure]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtMaxPressureUnit">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="290"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Units]"/>
          <Property Name="TextIndexOffset" Value="101"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="112"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtMaxPressure">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="290"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_PressureControl]"/>
          <Property Name="TextIndexOffset" Value="102"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="112"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001007" Name="numMaxPressure">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numProductLen.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="290"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="9.99999"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="132"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Global.gPar.MachinePar.PressureControl.PreCtrlBasis.rMaxPressure]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtHysteresisUnit">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="50"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Units]"/>
          <Property Name="TextIndexOffset" Value="101"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="180"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtHysteresis">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="50"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_PressureControl]"/>
          <Property Name="TextIndexOffset" Value="103"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="180"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001007" Name="numHysteresis">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numProductLen.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="50"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="9.99999"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="200"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Global.gPar.MachinePar.PressureControl.PreCtrlBasis.rHysteresis]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtActualPressureUnit">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="290"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Units]"/>
          <Property Name="TextIndexOffset" Value="101"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="180"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtActualPressure">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="290"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_PressureControl]"/>
          <Property Name="TextIndexOffset" Value="104"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="180"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001007" Name="numActualPressure">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageHead.numProductLen.bInputCompleted]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="Left" Value="290"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="9.99999"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="200"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.PressureCtrl.gPressureCtrl.State.rActPressure]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtCorrection">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="190"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Label]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_PressureControl]"/>
          <Property Name="TextIndexOffset" Value="105"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="260"/>
          <Property Name="Width" Value="100"/>
        </Control>
        <Control ClassId="0x00001002" Name="btntxtCorrectionMinus">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_108]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="144"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[PlusMinus]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndex" Value="101"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="280"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_PressureCtrlCorrectionMinus]"/>
          <Property Name="Width" Value="40"/>
        </Control>
        <Control ClassId="0x00001002" Name="btntxtCorrectionPlus">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_128]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="296"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[PlusMinus]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Head]"/>
          <Property Name="TextIndex" Value="102"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="280"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_PressureCtrlCorrectionPlus]"/>
          <Property Name="Width" Value="40"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[numCorrection]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[numCorrection]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[numCorrection]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[numCorrection]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[numCorrection]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[CL_Header].Control[strDateTime]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[numCorrection]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[numActualPressure]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[numHysteresis]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[numMaxPressure]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[numBasePressure]"/>
  </TabSequence>
</Page>