<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.5.388"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="P10000_DialogMoveAxes">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="800"/>
  <Property Name="Index" Value="10000"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="480"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[CL_HeaderWithoutMenu]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="CL_HeaderWithoutMenu"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="800"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="480"/>
      <Property Name="Z-Order" Value="1"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="txtDialogText">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[F_DialogText]"/>
          <Property Name="Height" Value="48"/>
          <Property Name="Left" Value="10"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[PageTitle]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Dialogs]"/>
          <Property Name="TextIndexOffset" Value="10000"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="225"/>
          <Property Name="Width" Value="460"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnYes">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_187]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="320"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageDialogMoveAxes.btnYes.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Normal]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Dialogs]"/>
          <Property Name="TextIndex" Value="202"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="556"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_DialogMoveAxesYes]"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x00001002" Name="btnNo">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_188]"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="10"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageDialogMoveAxes.btnNo.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Normal]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Dialogs]"/>
          <Property Name="TextIndex" Value="201"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="556"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[aVK_DialogMoveAxesNo]"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtPageTitle">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[PageTitle]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Dialogs]"/>
          <Property Name="TextIndexOffset" Value="101"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="156"/>
          <Property Name="Width" Value="460"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtHoming">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[F_DialogText]"/>
          <Property Name="Height" Value="48"/>
          <Property Name="Left" Value="10"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DS_Plc.Tasks.Visu.Visu.Vis.PageDialogMoveAxes.txtHoming.nStatus]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[PageTitle]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TG_Dialogs]"/>
          <Property Name="TextIndexOffset" Value="10001"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="273"/>
          <Property Name="Width" Value="460"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
  </Layers>
  <MovementOrder/>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[CL_HeaderWithoutMenu].Control[strDateTime]"/>
  </TabSequence>
</Page>